@model Nave
@{
    ViewData["Title"] = "Naves";
}

<form method="post" asp-action="DeletarPost">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1>Excluir Nave</h1>
        </div>
        <div class="mb-3">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Afiliacao"></label>
            <input asp-for="Afiliacao" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Classe"></label>
            <input asp-for="Classe" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DataLancamento"></label>
            <input asp-for="DataLancamento" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Registro"></label>
            <input asp-for="Registro" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Status"></label>
            <input asp-for="Status" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Propulsao"></label>
            <input asp-for="Propulsao" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Armamento"></label>
            <input asp-for="Armamento" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Defesa"></label>
            <input asp-for="Defesa" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-controller="Nave" asp-action="Index" class="btn btn-dark">Voltar</a>
    </div>
</form>